*.a
*.o
*.Po
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config
configure
etc/Makefile.in
man/Makefile.in
src/Makefile.in
Makefile
config.h
config.status
etc/Makefile
man/Makefile
src/.deps
src/Makefile
stamp-h1
man/spew.1
src/spew